<!-- detalles-contacto.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contactos"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-thumbnail slot="start">
    <ion-img [src]="contacto.foto"></ion-img>
  </ion-thumbnail> -->
  <ion-label>{{ detalleContacto?.nombre }} {{ detalleContacto?.apellido }}</ion-label>
  <!-- Agrega más campos según la información que quieras mostrar -->
  <ion-label>Ubicación: {{ detalleContacto?.ubicacion }}</ion-label>
  <ion-label>Número de Celular: {{ detalleContacto?.numeroCelular }}</ion-label>
  <ion-label>Correo: {{ detalleContacto?.correo }}</ion-label>
  <!-- ... -->
</ion-content>