<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Aplicación de contactos</ion-title>
    <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <form [formGroup]="credentialForm">
    <!-- Email Input -->
    <ion-item>
      <ion-input
        placeholder="Email address"
        formControlName="email"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>
    
    <!-- Password Input -->
    <ion-item>
      <ion-input
        placeholder="Password"
        type="password"
        formControlName="password"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </div>
  </form>

  <div class="button-container">
    <!-- SignUp Button -->
    <ion-button (click)="signUp()" expand="full" color="primary">Registrarse</ion-button>

    <!-- SignIn Button -->
    <ion-button (click)="signIn()" expand="full" color="success">Iniciar Sesión</ion-button>
  </div>
</ion-content>
