<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Contacto Nuevo</ion-title>
    <ion-back-button defaultHref="/contactos"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="detalleContacto.nombre" name="nombre" type="text"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="detalleContacto.apellido" name="apellido" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ubicación</ion-label>
    <ion-input [(ngModel)]="detalleContacto.ubicacion" name="ubicacion" type="text" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Foto</ion-label>
    <!-- Puedes utilizar ion-input para el nombre del archivo o implementar un selector de archivos -->
    <ion-input [(ngModel)]="detalleContacto.foto" name="foto" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Número de Celular</ion-label>
    <ion-input [(ngModel)]="detalleContacto.numeroCelular" name="numeroCelular" type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="detalleContacto.correo" name="correo" type="email"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="guardarContacto()">Actualizar</ion-button>
</ion-content>